/*
 * Sample configuration for an olinuxino hooked to a
 * 1wire thermal sensor, a i2c RTC module, and a pair of relays
 * (C) Michel Pollet <buserror@gmail.com>
 */

/dts-v1/;


/include/ "imx23.dtsi"

/ {
	model = "i.MX23 Olinuxino Low Cost Board";
	compatible = "olimex,imx23-olinuxino", "fsl,imx23";

	memory {
		reg = <0x40000000 0x04000000>;
	};

	apb@80000000 {
		apbh@80000000 {
			pinctrl@80018000 {
				i2c_gpio: i2c_gpio {
					reg = <0>;
					fsl,pinmux-ids = <
						0x0173	// MX23_PAD_GPMI_WPN__GPIO_0_23
						0x0193	// MX23_PAD_GPMI_RDN__GPIO_0_25
					>;
					fsl,pull-up = <1>;
				};
				w1_gpio: w1_gpio {
					reg = <0>;
					fsl,pinmux-ids = <
						0x1153	// MX23_PAD_LCD_CS__GPIO_1_21
					>;
					fsl,pull-up = <1>;
				};
			};
			ssp0: ssp@80010000 {
				compatible = "fsl,imx23-mmc";
				pinctrl-names = "default";
				pinctrl-0 = <&mmc0_4bit_pins_a &mmc0_pins_fixup>;
				bus-width = <4>;
				status = "okay";
			};

			pinctrl@80018000 {
				pinctrl-names = "default";
				pinctrl-0 = <&hog_pins_a>;

				hog_pins_a: hog@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						0x0113 /* MX23_PAD_GPMI_ALE__GPIO_0_17 */
					>;
					fsl,drive-strength = <0>;
					fsl,voltage = <1>;
					fsl,pull-up = <0>;
				};

				led_pin_gpio2_1: led_gpio2_1@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						0x2013 /* MX23_PAD_SSP1_DETECT__GPIO_2_1 */
					>;
					fsl,drive-strength = <0>;
					fsl,voltage = <1>;
					fsl,pull-up = <0>;
				};
			};
		};

		apbx@80040000 {
			duart: serial@80070000 {
				pinctrl-names = "default";
				pinctrl-0 = <&duart_pins_a>;
				status = "okay";
			};

			auart0: serial@8006c000 {
				pinctrl-names = "default";
				pinctrl-0 = <&auart0_2pins_a>;
				status = "okay";
			};

			usbphy0: usbphy@8007c000 {
				status = "okay";
			};
			/* Disable built in RTC, we use the i2c one */
			rtc@8005c000 {
				status = "disable";
			};
		};
	};

	ahb@80080000 {
		usb0: usb@80080000 {
			status = "okay";
		};
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&led_pin_gpio2_1>;

		user {
			label = "green";
			gpios = <&gpio2 1 1>;
			linux,default-trigger = "heartbeat";
		};
	};

	/*
	 * maxi declares the i2c by default as software -- so instanciate a linux driver
	 * for it
	 */
	i2c@0 {
		compatible = "i2c-gpio";
		gpios = <&gpio0 25 0 /* sda */
			 &gpio0 23 0 /* scl */
			>;
		i2c-gpio,delay-us = <2>;	/* ~100 kHz */
		i2c-gpio,scl-output-only = <0>;
		i2c-gpio,sda-open-drain = <1>;
		
		pinctrl-names = "default";
		pinctrl-0 = <&i2c_gpio>;

		status = "okay";
		rtc@68 {
			compatible = "dallas,ds1307";
			reg = <0x68>;
		};
		eeprom@50 {
			compatible = "at,24c32";
			reg = <0x50>;
		};
	};

	/* Onewire sensor(s) are hooked to pin "26" on the schematic
	 * AKA LCD_CS, AKA GPIO1 pin 21 */
	w1@0 {
		compatible = "w1-gpio";
		gpios = <&gpio1 21 0>;
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&w1_gpio>;
	};

};
